pre[class*='language-'] {
	--padding-y: var(--am-prism-padding-y, 1rem);
	--padding-x: var(--am-prism-padding-x, 1rem);
	padding: var(--padding-y) var(--padding-x);
	overflow: auto;
	font-size: var(--am-prism-font-size, 0.85em);
	border-radius: var(--am-prism-border-radius, 0.4em);
}

pre > code[class*='language-'] {
	display: block;
	padding: initial;
	font-size: 1em;
	font-weight: normal;
	font-family: var(--am-prism-font-family, ui-monospace), monospace;
	line-height: var(--am-prism-line-height, 1.5);
	background-color: initial;
}

code[class*='language-'],
pre[class*='language-'] {
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

pre[class*='language-'] .line-numbers-rows {
	box-sizing: content-box;
	margin: calc(var(--padding-y) * -1) 0;
	padding: var(--padding-y) 0;
	max-height: 100%;
	overflow: hidden;
}

.line-numbers.line-numbers .line-numbers-rows {
	border-right-width: var(--am-prism-border-width, 1px);
	border-right-color: var(--am-prism-border-color);
}

.line-numbers .line-numbers-rows > span:before {
	color: var(--am-prism-line-numbers-color);
}

div.code-toolbar > .toolbar {
	top: 0.3rem !important;
	right: 0.3rem !important;
}

div.code-toolbar > .toolbar > .toolbar-item > button.copy-to-clipboard-button {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 2.1em;
	width: 2.1em;
	overflow: hidden;
	padding: 0;
	font-size: var(--am-prism-font-size, 0.8em);
	background-color: var(--am-prism-copy-bg);
	border-radius: calc(var(--am-prism-border-radius, 0.4em) - 0.1em);
	cursor: pointer;
	box-shadow: none;
	opacity: 1;
	transition: opacity 0.2s;
}

div.code-toolbar
	> .toolbar
	> .toolbar-item
	> button.copy-to-clipboard-button
	> span {
	height: 1em;
	width: 1em;
	color: transparent;
	background-color: var(--am-prism-copy-color);
	mask: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNSIgaGVpZ2h0PSIxNSIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9ImN1cnJlbnRDb2xvciIgc3Ryb2tlLXdpZHRoPSIxLjc1IiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiPjxyZWN0IHdpZHRoPSIxNCIgaGVpZ2h0PSIxNCIgeD0iOCIgeT0iOCIgcng9IjIiIHJ5PSIyIi8+PHBhdGggZD0iTTQgMTZjLTEuMSAwLTItLjktMi0yVjRjMC0xLjEuOS0yIDItMmgxMGMxLjEgMCAyIC45IDIgMiIvPjwvc3ZnPg==');
	mask-repeat: no-repeat no-repeat;
	mask-position: center center;
}

div.code-toolbar
	> .toolbar
	> .toolbar-item
	> button.copy-to-clipboard-button[data-copy-state*='success']
	> span {
	mask: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNSIgaGVpZ2h0PSIxNSIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9ImN1cnJlbnRDb2xvciIgc3Ryb2tlLXdpZHRoPSIyLjc1IiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiPjxwYXRoIGQ9Ik0yMCA2IDkgMTdsLTUtNSIvPjwvc3ZnPg==');
	mask-repeat: no-repeat no-repeat;
	mask-position: center center;
}

div.code-toolbar
	> .toolbar
	> .toolbar-item
	> button.copy-to-clipboard-button:hover {
	opacity: 0.8;
}

div.code-toolbar
	> .toolbar
	> .toolbar-item
	> button.copy-to-clipboard-button:focus {
	opacity: 1;
}
