/*!
 * Github Dark theme for Prism.js
 */

code[class*='language-'],
pre[class*='language-'] {
	color: #e6edf3;
}

pre[class*='language-']::-moz-selection,
pre[class*='language-'] ::-moz-selection,
code[class*='language-']::-moz-selection,
code[class*='language-'] ::-moz-selection {
	text-shadow: none;
	background: #79c0ff4d;
}

pre[class*='language-']::selection,
pre[class*='language-'] ::selection,
code[class*='language-']::selection,
code[class*='language-'] ::selection {
	text-shadow: none;
	background: #79c0ff4d;
}

:not(pre) > code[class*='language-'],
pre[class*='language-'] {
	color: white;
	background: #0d1117;
	border: var(--am-prism-border-width, 2px) solid var(--am-prism-border-color);
}

:not(pre) > code[class*='language-'] {
	padding: 0.1em;
	border-radius: 0.3em;
	white-space: normal;
}

.token.comment {
	color: #8b949e;
}

.token.punctuation,
.token.string {
	color: #8b949e;
}

.token.keyword,
.token.constant,
.token.char {
	color: #ff7b72;
}

.token.function {
	color: #d2a8ff;
}

.token.builtin,
.token.attr-name,
.token.hexcode,
.token.function-variable,
.token.variable {
	color: #79c0ff;
}

.token.tag,
.token.inserted,
.token.property {
	color: #7ee787;
}

.token.attr-value,
.token.regex {
	color: #a5d6ff;
}

.token.deleted {
	color: #ffa198;
}

.token.changed {
	color: #ffa657;
}

.token.important,
.token.bold {
	font-weight: bold;
}

.token.italic {
	font-style: italic;
}

:root {
	--am-prism-line-numbers-color: #8b949e32;
	--am-prism-border-color: #8b949e18;
	--am-prism-copy-color: white;
	--am-prism-copy-bg: #8b949e18;
}
