/*!
 * Github Light theme for Prism.js
 */

code[class*='language-'],
pre[class*='language-'] {
	color: #1f2328;
}

pre[class*='language-']::-moz-selection,
pre[class*='language-'] ::-moz-selection,
code[class*='language-']::-moz-selection,
code[class*='language-'] ::-moz-selection {
	text-shadow: none;
	background: #0550ae4d;
}

pre[class*='language-']::selection,
pre[class*='language-'] ::selection,
code[class*='language-']::selection,
code[class*='language-'] ::selection {
	text-shadow: none;
	background: #0550ae4d;
}

:not(pre) > code[class*='language-'],
pre[class*='language-'] {
	color: #121212;
	background: #ffffff;
	border: var(--am-prism-border-width, 2px) solid var(--am-prism-border-color);
}

:not(pre) > code[class*='language-'] {
	padding: 0.1em;
	border-radius: 0.3em;
	white-space: normal;
}

.token.comment {
	color: #6e7781;
}

.token.punctuation,
.token.string {
	color: #6e7781;
}

.token.keyword,
.token.constant,
.token.char {
	color: #cf222e;
}

.token.function {
	color: #8250df;
}

.token.hexcode,
.token.builtin,
.token.attr-name,
.token.function-variable,
.token.variable {
	color: #0550ae;
}

.token.tag,
.token.inserted,
.token.property {
	color: #116329;
}

.token.attr-value,
.token.regex {
	color: #0a3069;
}

.token.deleted {
	color: #82071e;
}

.token.changed {
	color: #953800;
}

.token.important,
.token.bold {
	font-weight: bold;
}

.token.italic {
	font-style: italic;
}

:root {
	--am-prism-line-numbers-color: #6e778132;
	--am-prism-border-color: #6e778118;
	--am-prism-copy-color: #121212;
	--am-prism-copy-bg: #6e778118;
}
